@import "bourbon";
@import "susy";
@import _map.scss



// shorthand
$desktop: 12 (85px 20px) split
$pad: 6 (80px 40px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))






.data_container
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		


.breac_crumbs
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		height: 20px
		padding: 10px
		margin-bottom: 30px

		display: flex
		justify-content: flex-start
		align-items: center
		color: #666
		font-size: 14px
		p 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #0a93a1
		a 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #888 


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		height: 50px
		padding: 0 10px
		margin-bottom: 20px
		display: flex
		justify-content: flex-start
		align-items: center
		color: #666
		font-size: 14px
		p 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #0a93a1
		a 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #888 

.search_condition
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 10px
		display: flex
		justify-content: flex-start
		align-items: center
		p 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #444
		.condition
			padding: 5px 12px 5px 12px
			margin-right: 12px
			border: 1px solid #c0c0c0
			font-size: 13px
			color: #888
			i 
				font-size: 15px
				margin-left: 5px
				color: #c0c0c0
				transition: all .3s
				&:hover
					color: #777


.data_collection
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		// height: 50px
		padding: 20px
		margin-bottom: 30px
		border-bottom: 1px solid #eee
		display: flex
		justify-content: flex-start
		align-items: center
		.search
			margin-right: 10px
			input[type=text]
				width: 200px
				height: 35px
				border: 1px solid #c0c0c0
				padding: 5px
				font-size: 14px
				color: #555
			::placeholder
				padding: 5px
				color: #999
				font-size: 12px


		.data_select
			margin-right: 10px
			width: 200px
			select
				height: 35px
				border: 1px solid #c0c0c0
				display: block
				width: 100%
				padding: 5px 10px
				font-size: 12px !important
				color: #999
				background-color: #fff
				border-radius: 0
				outline: none
				-webkit-appearance: none
				background: url(../img/arrow.png) no-repeat right 8px

		.data_summary
			font-size: 14px
			color: #888



.data_container
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.classification_screening
			margin-bottom: 40px
			+span(3)
			height: 900px
			.filter_btn
				display: block
				width: 100%
				height: 40px
				font-size: 16px
				border-radius: 3px
				border: 1px solid #c0c0c0
				color: #888
				display: flex
				justify-content: center
				align-items: center
			h5 
				font-size: 18px
				margin-bottom: 10px

			
			.toolbox
				width: 100%
				// border-bottom: 2px solid #c0c0c0
				padding: 0
				padding-bottom: 5px
				margin-bottom: 10px
				background-color: #eee 
				.boxtitle
					background: #0a93a1
					height: 43px
					font-size: 16px
					padding: 5px 10px
					color: #FFF
					display: flex
					justify-content: flex-start
					align-items: center
					position: relative
					cursor: pointer
					.toggle_btn
						position: absolute
						width: 40px
						height: 40px
						right: 0
						top: 0
						display: flex
						justify-content: center
						align-items: center
						i 
							font-size: 18px
				.box_display
					// display: none
					
					transition: all .3s
					.boxsearch
						// display: none
						padding: 10px
						border-bottom: 1px solid #ddd
						input[type=text]
							height: 35px
							width: 100%
							padding: 5px
						::placeholder
							color: #999
							font-size: 13px
							padding: 5px

					.boxitem
						// display: none
						padding: 0 10px
						margin-bottom: 10px
						.datalink
							display: block
							width: 100%
							padding: 8px 5px
							border-bottom: 1px solid #cfcfcf
							font-size: 14px
							&:hover
								background-color: #555
								color: #FFF

					.box_showmore
						// display: none
						background-color: #d5d5d5
						height: 30px
						color: #FFF
						display: flex
						justify-content: center
						align-items: center
						font-size: 14px
						margin: 10px


		.data_detail
			+span(9)
			margin-bottom: 30px	


.active
	height: auto !important
	display: none !important
	




.data_detail_table
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		h6 
			font-size: 15px
			padding: 5px 0px
			line-height: 1.2
			color: #555
		h5
			font-size: 15px
			padding: 5px 0px
			line-height: 1.4
			color: #0a93a1
		p
			font-size: 14px
			padding: 5px 0px
			line-height: 1.4
			color: #888
		.format
			width: 80px
			float: left
			font-size: 12px
			padding: 3px
			text-align: center
			color: #FFF
			cursor: pointer
			margin-top: 5px
			margin-right: 5px
			margin-bottom: 5px

		.row
			padding: 8px 0
			transition: all .3s
			.col-a
				+span(6)
				padding: 0 5px
				border-bottom: 1px dashed #eee
			.col-b
				+span(6)
				padding: 0 5px	
				border-bottom: 1px dashed #eee
			.col-c
				+span(6)
				padding: 0 5px
				border-bottom: 1px dashed #eee
			.col-d
				+span(6)
				padding: 0 5px
				border-bottom: 1px dashed #eee



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		h6 
			font-size: 15px
			padding: 5px 0px
			line-height: 1.2
			color: #555
		h5
			font-size: 15px
			padding: 5px 0px
			line-height: 1.4
			color: #0a93a1
		p
			font-size: 14px
			padding: 5px 0px
			line-height: 1.4
			color: #888
		.format
			width: 90%
			font-size: 12px
			padding: 3px
			text-align: center
			color: #FFF
			cursor: pointer
			margin-top: 5px

		.row
			padding: 8px 0
			transition: all .3s
			.col-a
				+span(4)
				padding: 0 5px
			.col-b
				+span(3)
				padding: 0 5px			
			.col-c
				+span(2)
				padding: 0 5px
			.col-d
				+span(1.5)
				padding: 0 5px
			&:hover
				background: #f2fbff
				


.line-bottom-2
	border-bottom: 2px solid #c0c0c0	
.line-bottom-1
	border-bottom: 1px solid #d0d0d0	

.CSV
	background: #ffc000
.JSON
	background: #94c275
.XLSX
	background: #ed7d31
.XLS
	background: #a36d49
.ODS
	background: #ff9999
.XML
	background: #5b9bd5
.ODT
	background: #3366ff






// subject_classification
.subject_classification
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 40px
		h2
			font-size: 30px
			margin-bottom: 20px
			text-align: left
			margin-left: 10px

		.subject_item
			+span(3)
			background: #290
			margin-bottom: 30px
			position: relative
			transition: all .3s
			.text
				position: absolute
				font-size: 26px
				color: #FFF
				top: 50px
				left: 20px
				z-index: 500
			.mask
				position: absolute
				width: 100%
				height: 40%
				top: 30px
				left: 0
				background: rgba(0,0,0, .4)
				z-index: 400
				transition: all .3s
			.photo
				img
					display: block
			&:hover
				.mask
					height: 100%
					top: 0px
					background: rgba(0,0,0, .7)




























