@import "bourbon";
@import "susy";
@import _map.scss



// shorthand
$desktop: 12 (80px 20px) split
$pad: 6 (80px 40px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))






.data_container
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		


.breac_crumbs
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		height: 20px
		padding: 10px
		margin-bottom: 30px

		display: flex
		justify-content: flex-start
		align-items: center
		color: #666
		font-size: 14px
		p 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #0a93a1
		a 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #888 


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		height: 50px
		padding: 0 10px
		margin-bottom: 20px
		display: flex
		justify-content: flex-start
		align-items: center
		color: #666
		font-size: 14px
		p 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #0a93a1
		a 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #888 

.search_condition
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 10px
		display: flex
		justify-content: flex-start
		align-items: center
		margin-bottom: 20px
		p 
			font-size: 14px
			margin-right: 10px
			margin-left: 10px
			color: #444
		.condition
			padding: 5px 12px 5px 12px
			margin-right: 15px
			border: 1px solid #c0c0c0
			font-size: 13px
			color: #888
			i 
				font-size: 15px
				margin-left: 5px
				color: #c0c0c0
				transition: all .3s
				&:hover
					color: #777


.data_collection
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		// height: 50px
		padding: 20px
		margin-bottom: 30px
		border-bottom: 1px solid #eee
		display: flex
		justify-content: flex-start
		align-items: center
		color: #ddd



.data_container
	+susy-breakpoint($breakpoint_pad, $pad)
		+container



	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.classification_screening
			.filter_btn
				display: block
				width: 100%
				height: 40px
				font-size: 16px
				border-radius: 3px
				background-color: #1b7673
				color: #FFF
				display: flex
				justify-content: center
				align-items: center
			h5 
				font-size: 18px
				margin-bottom: 10px

			+span(3)
			height: 900px
			.toolbox
				width: 100%
				border: 1px solid #4ca3a0
				padding: 0
				margin-bottom: 10px
				background-color: #eee 
				.boxtitle
					background: #4ca3a0
					height: 43px
					font-size: 16px
					padding: 5px 10px
					color: #FFF
					display: flex
					justify-content: flex-start
					align-items: center
					position: relative
					cursor: pointer
					.toggle_btn
						position: absolute
						width: 40px
						height: 40px
						right: 0
						top: 0
						display: flex
						justify-content: center
						align-items: center
						i 
							font-size: 18px
				.box_display
					// display: none
					
					transition: all .3s
					.boxsearch
						// display: none
						padding: 10px
						border-bottom: 1px solid #ddd
						input[type=text]
							height: 35px
							width: 100%
							padding: 5px
						::placeholder
							color: #999
							font-size: 13px
							padding: 5px

					.boxitem
						// display: none
						padding: 0 10px
						margin-bottom: 10px
						.datalink
							display: block
							width: 100%
							padding: 8px 5px
							border-bottom: 1px solid #eee
							font-size: 14px
							&:hover
								background-color: #555
								color: #FFF

					.box_showmore
						// display: none
						background-color: #555
						height: 40px
						color: #FFF
						display: flex
						justify-content: center
						align-items: center
						font-size: 14px
						margin: 10px


		.data_detail
			+span(8)
			height: 900px
			background-color: #123






.active
	height: auto !important
	display: block !important
	














