{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="data_container">

		<div class="asidemenu_wrap">
			<div class="asidemenu">
				<ul>
					<li><a href="" class="hilight">資料集</a></li>
					<li><a href="">相關資料集</a></li>
					<li><a href="">異動紀錄</a></li>
					<li><a href="">應用展示</a></li>
				</ul>
			</div>

		</div>
	
		<div class="data_detail">
			<div class="detail_contnet">

				<h2>台北市空氣品質即時污染指標</h2>
				<div class="social_media">
					<div class="add"> <i class="fa fa-plus-circle" aria-hidden="true"></i> 加入我的蒐藏 </div>
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>

				<!-- 使用統計 -->
				<h6><i class="fa fa-area-chart" aria-hidden="true"></i> 使用統計</h6>
				<div class="user_statistics">
					<div class="user_statistics_chart"></div>
				</div>

				<!-- 詮釋資料 -->
				<h6><i class="fa fa-laptop" aria-hidden="true"></i></i> 詮釋資料</h6>
				<div class="interpretation_data">
					<div class="l-row">
						<div class="interpretation_item_a">主題分類 </div>	
						<div class="interpretation_item_b">環保</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">網站服務分類 </div>	
						<div class="interpretation_item_b">公共資訊</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">資料集體描述 </div>	
						<div class="interpretation_item_b">臺北市政府為推動開放政府（Open Government）之資料開放政策，整合本府開放資料於單一入口網站以供大眾利用。目前資料目錄包含約884項以上資料集，以機器可讀格式開放下載，為提供更佳服務品質，新資料集將持續加入。</div>
						<div class="clear"></div>	
					</div>
				
					<div class="l-row">
						<div class="interpretation_item_a">主要欄位說明 </div>	
						<div class="interpretation_item_b">臺北市政府為推動開放政府（Open Government）之資料開放政策，整合本府開放資料於單一入口網站以供大眾利用。目前資料目錄包含約884項以上資料集，以機器可讀格式開放下載，為提供更佳服務品質，新資料集將持續加入。</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">資料類型 </div>	
						<div class="interpretation_item_b">原始資料</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">最後更新時間 </div>	
						<div class="interpretation_item_b">2017-03-19 12:03:29</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">資料量 </div>	
						<div class="interpretation_item_b">9201</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">發佈時間 </div>	
						<div class="interpretation_item_b">2017-03-19 12:03:29</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">更新頻率 </div>	
						<div class="interpretation_item_b">每小時</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">授權方式 </div>	
						<div class="interpretation_item_b">臺北市政府為推動開放政府（Open Government）之資料開放政策</div>
						<div class="clear"></div>	
					</div>
				</div>
				<div class="switch_btn">顯示更多  <i class="fa fa-caret-down" aria-hidden="true"></i> </div>

				<!-- 資料項目 -->
				<h6><i class="fa fa-laptop" aria-hidden="true"></i></i> 資料項目</h6>
				<div class="download_item">
					<div class="download_row">
						<div class="title">PSI 指標（七天內）</div>
						<div class="download_btn">
							<div class="d-download CSV"><i class="fa fa-pie-chart" aria-hidden="true"></i> 智慧繪圖</div>
							<div class="d-download JSON"><i class="fa fa-cloud-download" aria-hidden="true"></i>下載</div>
							<div class="d-download XLS"><i class="fa fa-keyboard-o" aria-hidden="true"></i> API</div>
						</div>
						
					</div>

					<div class="download_row">
						<div class="title">空品測站日報表</div>
						<div class="download_btn">
							<div class="d-download CSV"><i class="fa fa-pie-chart" aria-hidden="true"></i> 智慧繪圖</div>
							<div class="d-download JSON"><i class="fa fa-cloud-download" aria-hidden="true"></i>下載</div>
							<div class="d-download XLS"><i class="fa fa-keyboard-o" aria-hidden="true"></i> API</div>
						</div>
						
					</div>
					<div class="download_row">
						<div class="title">PSI 指標（一個小時內）</div>
						<div class="download_btn">
							<div class="d-download CSV"><i class="fa fa-pie-chart" aria-hidden="true"></i> 智慧繪圖</div>
							<div class="d-download JSON"><i class="fa fa-cloud-download" aria-hidden="true"></i>下載</div>
							<div class="d-download XLS"><i class="fa fa-keyboard-o" aria-hidden="true"></i> API</div>
						</div>
						
					</div>

				</div>	

			</div>
		</div>	


	</div>
	

	



{% endblock %}