{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="data_container">

		<div class="classification_screening">
			<div class="asidemenu">
				<ul>
					<li><a href="">KKBOX</a></li>
					<li><a href="">KKTV</a></li>
					<li><a href="">KKTOWN</a></li>
					<li><a href="">KKFRAM</a></li>
				</ul>
			</div>

		</div>
	
		<div class="data_detail">
			<div class="detail_contnet">

				<h2>兄弟對決之我不４歌手冠軍你來決定！</h2>
				<div class="social_media">
					<div class="add"> <i class="fa fa-plus-circle" aria-hidden="true"></i> 加入我的蒐藏 </div>
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>

				<div class="user_statistics">
					<h6><i class="fa fa-area-chart" aria-hidden="true"></i> 使用統計</h6>
					<div class="user_statistics_chart">
						

					</div>
				</div>

				<div class="interpretation_data">

					<h6><i class="fa fa-table" aria-hidden="true"></i> 詮釋資料</h6>

					<div class="l-row">
						<div class="interpretation_item_a">中信兄弟主題日 — GAMES WE FIGHT </div>	<div class="interpretation_item_b">升級加強版，7 月 22、23 日在台中洲際棒球場熱烈開唱！首度在 KKBOX 獨家進行冠軍投票！球迷除了能夠重新回味選手的演出，收藏他們的拿手歌單，還可以投票決定誰是最會「唱」的冠軍球員，將他再次送上舞台！</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">中信兄弟主題日 — GAMES WE FIGHT </div>	<div class="interpretation_item_b">升級加強版，7 月 22、23 日在台中洲際棒球場熱烈開唱！首度在 KKBOX 獨家進行冠軍投票！球迷除了能夠重新回味選手的演出，收藏他們的拿手歌單，還可以投票決定誰是最會「唱」的冠軍球員，將他再次送上舞台！</div>
						<div class="clear"></div>	
					</div>
					
					<div class="l-row">
						<div class="interpretation_item_a">中信兄弟主題日 — GAMES WE FIGHT </div>	<div class="interpretation_item_b">升級加強版，7 月 22、23 日在台中洲際棒球場熱烈開唱！首度在 KKBOX 獨家進行冠軍投票！球迷除了能夠重新回味選手的演出，收藏他們的拿手歌單，還可以投票決定誰是最會「唱」的冠軍球員，將他再次送上舞台！</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">中信兄弟主題日 — GAMES WE FIGHT </div>	<div class="interpretation_item_b">升級加強版，7 月 22、23 日在台中洲際棒球場熱烈開唱！首度在 KKBOX 獨家進行冠軍投票！球迷除了能夠重新回味選手的演出，收藏他們的拿手歌單，還可以投票決定誰是最會「唱」的冠軍球員，將他再次送上舞台！</div>
						<div class="clear"></div>	
					</div>
					




				</div>




			</div>
		</div>	


			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
	</div>
	

	



{% endblock %}