{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="data_container">
		<div class="search">
					<input type="text" placeholder="搜尋資料集">
					<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
				</div>
		<div class="">
			<div class="detail_contnet ">
				<h2>台北市空氣品質即時污染指標</h2>
				<br><br>
				<!-- 詮釋資料 -->
				<h6><i class="fa fa-laptop" aria-hidden="true"></i></i> 詮釋資料</h6>
				<div class="interpretation_data auto_height">
					<div class="l-row">
						<div class="interpretation_item_a">主題分類 </div>	
						<div class="interpretation_item_b">環保</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">網站服務分類 </div>	
						<div class="interpretation_item_b">公共資訊</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">資料集體描述 </div>	
						<div class="interpretation_item_b">臺北市政府為推動開放政府（Open Government）之資料開放政策，整合本府開放資料於單一入口網站以供大眾利用。目前資料目錄包含約884項以上資料集，以機器可讀格式開放下載，為提供更佳服務品質，新資料集將持續加入。</div>
						<div class="clear"></div>	
					</div>
				
					<div class="l-row">
						<div class="interpretation_item_a">主要欄位說明 </div>	
						<div class="interpretation_item_b">臺北市政府為推動開放政府（Open Government）之資料開放政策，整合本府開放資料於單一入口網站以供大眾利用。目前資料目錄包含約884項以上資料集，以機器可讀格式開放下載，為提供更佳服務品質，新資料集將持續加入。</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">資料類型 </div>	
						<div class="interpretation_item_b">原始資料</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">最後更新時間 </div>	
						<div class="interpretation_item_b">2017-03-19 12:03:29</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">資料量 </div>	
						<div class="interpretation_item_b">9201</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">發佈時間 </div>	
						<div class="interpretation_item_b">2017-03-19 12:03:29</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">更新頻率 </div>	
						<div class="interpretation_item_b">每小時</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">授權方式 </div>	
						<div class="interpretation_item_b">臺北市政府為推動開放政府（Open Government）之資料開放政策</div>
						<div class="clear"></div>	
					</div>
				</div>
				
				<div class="clear" style="height: 70px"></div>
			</div>
		</div>	


	</div>
	

	



{% endblock %}