{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">開發應用</a> > <p>應用實例</p>
	</div>


	<div class="data_container">
		<div class="app_detail">
			<div class="app_icon">
				<img src="img/app_01.png" alt="">
			</div>
			
			<div class="app_description">
				
				<h6>台北自由騎</h6>

				<div class="ll"></div>
				<div class="t-row">
					<div class="t-title">應用實例分類</div>
					<div class="t-des"><p>台北微笑單車" YouBike (ubike) </p>	
					</div>
				</div>		

				<div class="t-row">
					<div class="t-title">作品介紹</div>
					<div class="t-des"><p>配合台北微笑單車" YouBike (ubike) "，所設計的一款app，讓使用者查詢所在地附近腳踏車租賃點的位置以及目的地路線的規劃，每三十分鐘換乘，以持續免費騎乘微笑單車，以達到環保健身、節能減碳的目標。</p>	
					<p>配合台北微笑單車" YouBike (ubike) "，所設計的一款app，讓使用者查詢所在地附近腳踏車租賃點的位置以及目的地路線的規劃，每三十分鐘換乘，以持續免費騎乘微笑單車，以達到環保健身、節能減碳的目標。</p>	</div>
				</div>
				<div class="t-row">
					<div class="t-title">作者/機關</div>
					<div class="t-des"><p>配合台北微笑單車" YouBike (ubike) "，所設計的一款app，讓使用者查詢所在地附近腳踏車租賃點的位置以及目的地路線的規劃，每三十分鐘換乘，以持續免費騎乘微笑單車，以達到環保健身、節能減碳的目標。</p></div>
				</div>
				<div class="t-row">
					<div class="t-title">相關連結</div>
					<div class="t-des"><a href="https://itunes.apple.com/tw/app/youbike%E5%BE%AE%E7%AC%91%E5%96%AE%E8%BB%8A/id639534082?l=zh&mt=8">https://itunes.apple.com/tw/app/youbike%E5%BE%AE%E7%AC%91%E5%96%AE%E8%BB%8A/id639534082?l=zh&mt=8</a></div>
				</div>

				<div class="t-row">
					<div class="t-title">相關附件</div>
					<div class="t-des"><a href="https://itunes.apple.com/tw/app/youbike%E5%BE%AE%E7%AC%91%E5%96%AE%E8%BB%8A/id639534082?l=zh&mt=8">https://itunes.apple.com/tw/app/youbike%E5%BE%AE%E7%AC%91%E5%96%AE%E8%BB%8A/id639534082?l=zh&mt=8</a></div>
				</div>

			</div>

		</div>
	</div>
	

	



{% endblock %}