{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="data_container">

	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="search_condition">
		<p>搜尋條件：</p>
		<div class="condition">空氣 <i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="condition">台北市政府環保局 <i class="fa fa-times" aria-hidden="true"></i></div><div class="condition">空氣 <i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="condition">台北市政府環保局 <i class="fa fa-times" aria-hidden="true"></i></div><div class="condition">空氣 <i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="condition">台北市政府環保局 <i class="fa fa-times" aria-hidden="true"></i></div>
	</div>

	

	<div class="data_collection">
		XXXXXXXX
	</div>


	<div class="data_container">


		<div class="classification_screening">
			<h5>分類篩選工具</h5>
			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display display_1">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">KKBOX</a>
						<a href="" class="datalink">KKTV</a>
						<a href="" class="datalink">KKTOWN</a>
				
					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">KKBOX</a>
						<a href="" class="datalink">KKTV</a>
						<a href="" class="datalink">KKTOWN</a>
					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">KKBOX</a>
						<a href="" class="datalink">KKTV</a>
						<a href="" class="datalink">KKTOWN</a>
					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>



			
			<a href="" class="filter_btn">篩選</a>
		</div>

		<div class="data_detail"></div>





	</div>
	



	<div class="pages">
		<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
		<a href="" class="mainblue">1</a>
		<a href="">2</a>
		<a href="">3</a>
		<a href="">4</a>
		<a href="">5</a>
		<a href="">6</a>
		<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
	</div>

</div>



{% endblock %}