{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> >  <p>常見問答</p>
	</div>




	<div class="data_container">

		<div class="data_count">
			<h6>共 <span style="color: #027890; font-weight: bolder ">123092</span> 筆資料</h6>
		</div>
		<div class="clear"></div>
		<div class="q-a">
			<div class="q-a_titile">
				<h6><i class="fa fa-question-circle" aria-hidden="true"></i> 常見問答</h6>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>		
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>
			<div class="q-a_item">
				<a href="">使用者建議台北市政府資料開放評估結果公告專區</a>
				<h5>更新日期: 2017/8/29</h5>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
			</div>

		</div>


		<div class="pages">
			<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
			<a href="" class="mainblue">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		</div>


	</div>
	
	
	



{% endblock %}