{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> >  <p>常見問答</p>
	</div>




	<div class="data_container">


		<div class="q-a">
			<div class="q-a_titile">
				<h6><i class="fa fa-question-circle" aria-hidden="true"></i> 使用者建議台北市政府資料開放評估結果公告專區</h6>
				<h5>更新日期: 2017/8/29</h5>
			</div>
			<div class="q-a_item_content">
				
				<h4 class="QQ">Q:什麼是開放超級無敵資料</h4>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>

				<h4 class="QQ">Q:什麼是個資法</h4>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>

				<h4 class="QQ">Q:什麼這是一個很長很長的故事</h4>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>
				
				<h4 class="QQ">Q:什麼是個資法</h4>
				<p>Airbnb在近期改版了app的設計介面，也花了大功夫改造全新的設計組織流程及協作工具，讓Airbnb在世界各地的個服務據點及分公司都能快速、同步且有效率的進行設計流程。除了 官方部落格 有公布這次大改版背後的組織重整及管理原則，在今年北京的 IxDC 互動設計大會，Airbnb 設計副總裁 Alex Schleifer 也逐一分享了他們如何利用工具及系統，讓工程師和設計師高效率地協作。因此我重新為 Airbnb 的設計組織流程做一個總整理，希望值得作為管理和流程設計者的參考。</p>

				<h4 class="QQ">Q:什麼這是一個很長很長的故事</h4>
				<p>目前我國市面上仍有多種商品未明確標示價格或僅標示「時價」，例如自助餐、海產店、夜市小吃攤等。此類商品在買賣時，往往由商家自由心證收取金額。然因商品未明確標示價格，導致消費糾紛頻傳。嚴重者，甚至重創我國觀光形象。例如台北士林夜市曾傳出6包水果1300元，高雄六合夜市、瑞豐夜市，屏東墾丁大街等亦曾多次傳出價格標示不清導致的消費糾紛。</p>
				<p>
				因此我們提議，所有商家皆應明確標示商品價格。若確實因商品價格變動頻繁，或商家為促銷目的，提供商品額外議價空間，至少應明確標示該樣商品最低價格及最高價格，例如炒青菜一份80~120元不等，魚湯120~180元不等，以做為消費者決定是否購買之參考。又考量目前消保官人力有限，無法經常抽查商家標示價格之情況，應規定未清楚標示價格之商品，消費者可以不付費，以促進商家自願且明確標示價格之意願。</p>
			</div>
		</div>

	</div>
	
	
	



{% endblock %}