{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="show_aside">分類篩選工具</div>

	<div class="data_container">

		<div class="classification_screening">

			<div class="aside_close"><i class="fa fa-times" aria-hidden="true"></i></div>

			<div class="post_classification">
			<h5>分類篩選工具</h5>
			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display display_1">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">台北市政府環保局</a>
						<a href="" class="datalink">台北市政社會局</a>
						<a href="" class="datalink">台北市政府資訊局</a>
						<a href="" class="datalink">台北市政府觀光傳播局</a>
						<a href="" class="datalink">台北市政府觀光傳播市場處</a>
				
					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					主題分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					資料地區分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>
			<a href="" class="filter_btn">篩選</a>
			</div>
		</div>






		{# data_detail #}
		<div class="data_detail">
			<div class="detail_contnet">

				{# <h2>台北市空氣品質即時污染指標</h2> #}

				<!-- 使用統計 -->
				<h6><i class="fa fa-area-chart" aria-hidden="true"></i> 我想要更多意見統計</h6>
				<div class="user_statistics">
					<div class="user_statistics_chart"></div>
				</div>

				<div class="data_collection">
					<div class="data_summary">
						共 123092 筆資料
					</div>
					<div class="data_select">
						<select name="" id="">
							<option value="">最新資料</option>
							<option value="">最新資料</option>
							<option value="">最新資料</option>
							<option value="">最新資料</option>
							<option value="">最新資料</option>
						</select>
					</div>
				</div>
				<div class="pages">
					<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
					<a href="" class="mainblue">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
					<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
				</div>

				<div class="require_data">
					<div class="row line-bottom-2">
						<div class="col-a"><h6>需求資料名稱</h6></div>
						<div class="col-b"><h6>需求資料欄位</h6></div>
						<div class="col-c"><h6>發佈時間 <i class="fa fa-arrow-down" aria-hidden="true"></i></h6></div>
						<div class="col-d"><h6>回復狀態</h6></div>
						<div class="clear"></div>
					</div>

					<div class="row line-bottom-1">
						<div class="col-a"><h5>台北捷運站停車位</h5></div>
						<div class="col-b">
							<p>台北市空氣品質監測總類、分類、名稱、地址、監測項目台北市空氣品質監測總類、分類、名稱、地址、監測項目</p>
						</div>
						<div class="col-c"><p>20170-03-19</p></div>
						<div class="col-d">
							<div class="dot replied"></div>
							已回覆
						</div>
						<div class="clear"></div>
					</div>

					<div class="row line-bottom-1">
						<div class="col-a"><h5>台北捷運站停車位</h5></div>
						<div class="col-b">
							<p>台北市空氣品質監測總類、分類、名稱、地址、監測項目台北市空氣品質監測總類、分類、名稱、地址、監測項目</p>
						</div>
						<div class="col-c"><p>20170-03-19</p></div>
						<div class="col-d">
							<div class="dot no_replied"></div>
							未回覆
						</div>
						
						<div class="clear"></div>
					</div>	
					<div class="row line-bottom-1">
						<div class="col-a"><h5>台北捷運站停車位</h5></div>
						<div class="col-b">
							<p>台北市空氣品質監測總類、分類、名稱、地址、監測項目台北市空氣品質監測總類、分類、名稱、地址、監測項目</p>
						</div>
						<div class="col-c"><p>20170-03-19</p></div>
						<div class="col-d">
							<div class="dot replied"></div>
							已回覆
						</div>
						
						<div class="clear"></div>
					</div>

					<div class="row line-bottom-1">
						<div class="col-a"><h5>台北捷運站停車位</h5></div>
						<div class="col-b">
							<p>台北市空氣品質監測總類、分類、名稱、地址、監測項目台北市空氣品質監測總類、分類、名稱、地址、監測項目</p>
						</div>
						<div class="col-c"><p>20170-03-19</p></div>
						<div class="col-d">
							<div class="dot no_replied"></div>
							未回覆
						</div>
						
						<div class="clear"></div>
					</div>

					<div class="row line-bottom-1">
						<div class="col-a"><h5>台北捷運站停車位</h5></div>
						<div class="col-b">
							<p>台北市空氣品質監測總類、分類、名稱、地址、監測項目台北市空氣品質監測總類、分類、名稱、地址、監測項目</p>
						</div>
						<div class="col-c"><p>20170-03-19</p></div>
						<div class="col-d">
							<div class="dot no_replied"></div>
							未回覆
						</div>
						
						<div class="clear"></div>
					</div>

					<div class="pages">
						<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
						<a href="" class="mainblue">1</a>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">5</a>
						<a href="">6</a>
						<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
					</div>

				</div>


				

				<div class="suggest_form">
					<div class="form_title">
						<h6><i class="fa fa-area-chart" aria-hidden="true"></i> 我想要更多意見統計</h6>
						<p>若您對本平台有任何資料開放上的建議，請填寫以下表單，謝謝</p>
					</div>
				
					<div class="input_row">
					<p>需求資料名稱</p>
						<input type="text">
					</div>

					<div class="input_row">
					<p>需求資料欄位（或描述內容）</p> 
						<input type="text">
					</div>
					<div class="input_row">
					<p>資料可能主管機關</p>
						<input type="text">
					</div>
					<div class="input_row">
					<p>資料取得用途為何？</p>
						<input type="text">
					</div>

					<div class="input_row">
					<p>是否已確認「台北市政府資料開放平台」無此資料？</p>
						<div class="i-radio"><input type="radio"> 確認無資料</div>
						<div class="i-radio"><input type="radio"> 尚未確認</div>
					</div>
					<div class="input_row">
						<p>已有相關公開資料（如有公開網站或資料名稱/）</p>
						<input type="text">
					</div>

					<a href="" class="summit">送出</a>

				</div>


			</div>
		</div>	


	</div>
	

	



{% endblock %}