{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	
	
	<div class="subscription">
		<div class="subscription_area">
			<h6><i class="fa fa-bookmark" aria-hidden="true"></i> 訂閱新增開放資料資料及通知</h6>	
			<p>當本網站有新的當本網站有新的，當本網站有新的當本網站有新的，當本網站有新的就會通知你</p>
			<div class="subscription_button">
				<div class="button-b"><input type="radio" name="" id="">我要訂閱</div>
				<div class="button-b"><input type="radio" name="" id="">不訂閱</div>
			</div>
			<a href="#" class="submit-ok">確定</a>

		</div>
		
	</div>



	<div class="show_aside" style="display: none">分類篩選工具</div>
	<div class="data_container">
		
		<!-- data_detail -->
		<div class="my_collection">
			<h6>我的收藏列表</h6>
			<div class="data_collection">
				<div class="data_summary">
					共 123092 筆資料
				</div>
				<div class="data_select">
					<a href="#" class="cancel_c"> <i class="fa fa-minus-circle" aria-hidden="true"></i> 批次取消收藏</a>
				</div>
			</div>


			<div class="data_detail_table">
				<div class="row_mycollection line-bottom-2">
					<div class="col_checkbox"><h6>勾選</h6> </div>
					<div class="col_m"><h6>異動</h6> </div>

					<div class="col-b"><h6>資料名稱</h6></div>
					<div class="col-a"><h6>資料及描述</h6></div>
					<div class="col-c"><h6>更新時間 <i class="fa fa-arrow_mycollection-down" aria-hidden="true"></i></h6></div>
					<div class="col-d"><h6>使用次數</h6></div>
					<div class="col-d"><h6>資料格式</h6></div>
					<div class="clear"></div>
				</div>

				<div class="row_mycollection line-bottom-1">
					<div class="col_checkbox">
						 <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
    					<label for="styled-checkbox-1"></label>
					</div>
					<div class="col_m">
						<div class="format CSV">異動</div>
					</div>
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format CSV">CSV</div>
						<div class="format JSON">JSON</div>
						<div class="format XLSX">XLSX</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="row_mycollection line-bottom-1">
					<div class="col_checkbox">
						 <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
    					<label for="styled-checkbox-1"></label>
					</div>
					<div class="col_m">
						<div class="format CSV">異動</div>
					</div>
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format CSV">CSV</div>
						<div class="format JSON">JSON</div>
						<div class="format XLSX">XLSX</div>
					</div>
					<div class="clear"></div>
				</div>				

				<div class="row_mycollection line-bottom-1">
					<div class="col_checkbox">
						 <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
    					<label for="styled-checkbox-1"></label>
					</div>
					<div class="col_m">
						<div class="format CSV">異動</div>
					</div>
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format CSV">CSV</div>
						<div class="format JSON">JSON</div>
						<div class="format XLSX">XLSX</div>
					</div>
					<div class="clear"></div>
				</div>


			

			
			
				
				

			
				<div class="clear"></div>
				<div class="pages">
					<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
					<a href="" class="mainblue">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
					<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	

	



{% endblock %}