{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="data_container">

		<div class="asidemenu_wrap">
			<div class="asidemenu">
				<ul>
					<li><a href="" class="hilight">訪客統計</a></li>
					<li><a href="">資料統計</a></li>
					<li><a href="">應用統計</a></li>
				</ul>
			</div>

		</div>
	
		<div class="data_detail">
			<div class="detail_contnet">

				<div class="dashboard_title">來客數</div>
				<div class="dashboard">

				</div>

				<div class="dashboard_title">訪客所在地</div>
				<div class="dashboard">
					
				</div>

			</div>
		</div>	


	</div>
	

	



{% endblock %}