{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="index_container">


	<h1>Data.Taipai</h1>
	<div class="input_wrapper">
		<input type="text" placeholder="搜尋920筆資料集">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
	

</div>



{% endblock %}