{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="data_container">

		<div class="asidemenu_wrap">
			<div class="asidemenu">
				<ul>
					<li><a href="" class="hilight">資料集</a></li>
					<li><a href="">相關資料集</a></li>
					<li><a href="">異動紀錄</a></li>
					<li><a href="">應用</a></li>
				</ul>
			</div>

		</div>



			<div class="data_detail">
				<div class="detail_contnet">

				<h6><i class="fa fa-bar-chart" aria-hidden="true"></i> 智慧繪圖</h6>

				<div class="social_media">
					<div class="add"> <i class="fa fa-plus-circle" aria-hidden="true"></i> 加入我的蒐藏 </div>
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>
				
				<div class="message_inside"></div>
				<div class="message_inside"></div>
				<div class="message_inside"></div>
				<div class="message_inside"></div>

			</div>
		</div>	

	</div>
	

	



{% endblock %}